<ion-header>
  <ion-toolbar color="success">
    <ion-title>Lista de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" color="danger" (click)="limpiarLista()" *ngIf="items.length > 0">
    Limpiar lista
  </ion-button>

  <ion-list *ngIf="items.length > 0">
    <ion-item *ngFor="let item of items; let i = index">
      <ion-checkbox
        slot="start"
        [checked]="item.comprado"
        (ionChange)="toggleComprado(i)">
      </ion-checkbox>

      <ion-label>
        <h2>{{ item.nombre }}</h2>
        <p>{{ item.cantidad }}</p>
      </ion-label>

      <ion-button fill="clear" color="danger" (click)="eliminar(i)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <div *ngIf="items.length === 0" class="ion-text-center ion-margin-top">
    <p>No hay ingredientes en la lista.</p>
  </div>
</ion-content>